*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: black ;
    color: white;
    font-family: 'Inter', sans-serif;
}

.video-bg{
    width: 100%;
    height: 100vh;
    position:fixed;
    opacity: 0.3;
    top:0;
    left:0;
    object-fit: cover;
   
}
.section{
   
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.title{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    margin-left: 25%;
    max-width: 50%;
}
.section.in-page .title{
    transform: scale(1.2);
    opacity: 1;

}



.panel{
    background-color: white;
    color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.logo-watch{
    width:20%
}
.color-adv{
    color: #f56900;
}
#block{
    display: flex;
    flex-direction: column;
}