*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: black ;
    color: white;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #333333;
    position: fixed;
    z-index: 10;
    width: 100%;
    
}
.header-logo{
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    font-size: 11px;
    padding: 8px 23px;
  }
 a{
    text-decoration: none;
    color: #858585;
    
}
a{
    transition: ease-in-out 0.4s;
}
 a:hover{
   
    color: white;
}
.header-content{
    padding:5px;
    width: 90%;
    margin: auto;
    display: flex;
    color: #858585;
    
}

.video-bg{
    width: 100%;
    height: 100vh;
    position:fixed;
    opacity: 0.3;
    top:0;
    left:0;
    object-fit: cover;
   
}
.section{
   
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.title{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    margin-left: 25%;
    max-width: 50%;
}
.section.in-page .title{
    transform: scale(1.2);
    opacity: 1;

}



.panel{
    background-color: white;
    color: black;
    width: 100%;
    height: auto;
    padding-bottom:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
   

}
.logo-watch{
    width:20%
}
.color-adv{
    color: #f56900;
}
#block{
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    max-width: 1000px;
    padding:  15% 10% 1% 10%;
}
.intro{
    font-size: 20px;
    font-weight:bold
}
.big-title{
    font-size:4rem;
}
.title-medium{
    font-size: 2rem;
}

.fade-in{
    opacity: 0;
    transform: translateY(20vh);
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}
.fade-in.in-page{
    opacity: 1;
    transform: translateY(0vh);
}

.img-left{
    width: 120vw;
    position: relative;
    left: -30vh;
    display: block;
}
.img-center{
    width: 100%;
    position: relative;
    left:0vw;
    display: block;
}
.subtitle{
    font-weight: 600;
    max-width: 500px;
  
 
   color: #86868b;
}
.adv-text{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px 
    
}
footer{
    height: 50vh;
    position: relative;
    background-color: grey;
    z-index: 3;
}
input{
    color: #858585;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid  #858585;
   
    
    padding: 3px;
}
.icon-container{
    align-self: center;
    position: relative;
}
lens{
    position: absolute;
    top: 4px;
    left: 4px;
}